.container {
    border: 1px solid transparent;
    min-height: 200vh;
}

.box {
    margin: 1rem;
    padding: 1rem;
}

.static {
    border: 1px solid lightcoral;
    position: static;
    background-color: lightcoral;
    height: 150px;
}

